/*通用设置*/
*{
	margin:0px auto;
	padding:0px;	
	list-style:none;
	font-family: 宋体;
	color:#522a06;}
img{
   border:0px;}
body{
	padding: 0px;
	margin: 0px;
	background:url(../images/bodybg.gif);
	font-size:12px;}
a{
	color:#522a06;
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
li{
	list-style:none;
	margin:0px;
	padding:0px;}

/*页面顶部*/
.header{
	width:100%;
	height:164px;
	background-image:url(../images/bg.gif);
	background-position:center;}
.head_content{
	width:1000px;
	margin:auto;}
#banner img{
	float:left;
	margin-top:38px;
	margin-left:150px;}
#banner{width:1000px;
	height:164px;
	text-align:center;
	margin-left:25px;}
/*导航*/
.nav{
	width:100%;
	height:40px;
	background:url(../images/nav.jpg);}
.nav_content{
	width:1000px;}
.n_content{
	float:left;
	width:800px;
	font-weight:bolder;
	color:#FFF;}
.n_content a{
	color:#FFF;
	width:65px;
	line-height:40px;
	font-weight:bold;
	text-align:center;}
.n_content a:hover{
	color:#f9f603;
	text-decoration:none;}
#col_wei{
	color:#f9f603;
	width:45px;}
#long{
	width:105px;}
.nav_search{
	padding:10px 0;
	float:left;
}
.search1{
	width:136px;
	height:21px;
	float:left;
	background-color:#f8f5ee;}
.search_btn{
	width:44px;
	height:21px;
	float:left;
	color:#FFF;}
.an{background-color:#000;
	height:21px;
	border:1px solid #f8f5ee;
	margin: 0px;
	color:white;
}
.sou{
	height:19px;
	margin: 0px;
	border:1px solid #f8f5ee;
}

	/*页面中部*/
.content{
	margin-bottom:10px;
	width:1000px;
	overflow:hidden
	}
.bread{
	height:40px;
	line-height:40px;
	padding-left:43px;
	}
.listleft{
	float:left;
	width:700px;
	}
.listleft h2{
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:16px;
	border-bottom:1px solid #c9baa5;
	}
.listleft h3{
	font-size:12px;
	font-weight:normal;
	color:#757575;
	text-align:center;
	margin:10px;
	}
.nr{
	line-height:28px;
	padding:10px;
	border-bottom:1px solid #c9baa5;
	font-size:14px;}
.nr p{
	margin-top:5px;
	text-indent:2em;}
.nr img{
	margin:20px;}
.next{
	height:40px;
	line-height:40px;
	margin-top:10px;
	font-size:13px;}
.next a{
	margin-right:40px;
	color:#844004;
	font-size:13px;}

.listright{
	float:left;
	width:280px;
	margin-left:16px;
	margin-top:40px;	
	}
.news{
	border:1px solid #c9baa5;
	background-image:url(../images/bg.png);
	margin-bottom:20px;
	text-align:center;}
.news h1 img{
	height:30px;
	padding-top:10px;
	margin-bottom:10px;
	text-align:center}
.news ul li{
	height:30px;
	margin-left:13px;
	text-align:left;}
.mszs{
	width:280px;
	margin-bottom:20px;
	margin-top:40px;}
.mjzt{
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
}
.show_bg{
	background:url(../images/show_bg.png);
	background-repeat:no-repeat;
	height:362px;}
#img2 img{
	margin-left:25px;
	margin-top:25px;}
.show_content{
	margin-left:25px;
	margin-top:15px;
	margin-right:30px;}
.name{
	font-weight:bolder;
	color:#b70000;}
.show_name{
	line-height:20px;}	

/**底部**/
.footer {
	background:url(../images/foot.gif);
	width:100%;
	background-position:center;	
	padding:30px 0 0 0;
	text-align:center;
	height:105px;
	clear:both;}
.footer h1{	
	font-size:12px;}
.footer p{ 
	margin-top:10px;}