h1{
	font-family:微软雅黑;
	font-size:20px;
	color:686868;
}
h2{
	color:#a9a8a8;
	font-size:12px;
	font-family:Arial;
	text-align:center;
}
.font_next{
	color:#22a3d3;
}
.textp{
	text-indent:2em;
	line-height:36px;
}