body{background:url(images/c7.jpg);}
a{text-decoration:none;color:#000;}
.clear{clear:both;}
.logo{width:1000px;margin:0 auto;}
.menu{width:1000px;
	margin:0px auto;
	height:40px;
	padding-top: 10px;
	text-align:center;
	line-height:30px;
	font-size:20px;
	 }
.daohang{background:#ff9900;margin:0;}
.menu a{float:left;color:#fff;	}
.menu a:hover{color:#ff6600;font-size:22px;}
.banner{width:100%;margin:0;}
.sou{float:right;margin-right: 50px;}
.search{margin-right: 0;float:left;}
.sou img{margin-left:0;float:left;padding-top: 5px;}