body{background-color: #01030f}
a{text-decoration:none;}
.clear{clear:both;}
ul li{list-style:none;}
/*页面首部*/
.biaoti {
	height:300px;
	width:100%;
	margin:0 auto;
	font-family:"楷体";
	font-size:20px;
	}
.logo{width:1000px;
	margin:0px auto;}
.logo h1{float:right;
	color:#34a5d1;
	margin-right: 700px;}
.daohang{background-color:#2a213c;}
.menu{width:1000px;
	margin:0px auto;
	height:40px;
	padding-top: 10px;
	text-align:center;
	 }
.menu a{float:left;color:#fff;
	}
.menu a:hover{color:#66FFFF;font-size:22px;}
.menu a:visited{color:#6699FF;}
.banner{width:100%;}

.sou{float:right;margin-right: 50px;}
.search{margin-right: 0;float:left;}
.sou img{margin-left:0;float:left;padding-top: 2px;}
/*页面内容*/
.content{width:1000px;margin:0px auto;}
.m {color:#FFFF99;}
.m a{color:#FFFF99;}
.m a:hover{text-decoration:underline;}
.yun{width:740px;margin:10px;float:left;}
.yun h2{color:#CC99FF;font-family:"华文新魏";margin-left: 10px;}
.xingyun{width:350px;height:200px;margin:10px;float:left;}
.xingyun h3 a{color:#CC66FF;font-family:"楷体";margin-left: 10px;margin-top:5px;}
.xingyun p{color:#CCFF99;text-indent: 2em;margin:0 10px;line-height:24px;font-family:"宋体";font-size: 14px;}
.xingyun .tu{float:left;width:120px;height:200px;}
.xingyun .wen{float:left; width:230px;height:200px;}
.wen p span{color:#990099;text-align:right;}
.wen a:hover{color:#990099;}
.right{width:220px;margin:10px;float:left;}
.redian{margin:10px 0;line-height:24px;font-family:"宋体";font-size: 16px;}
.redian h2{color:#CC9933;font-family:"华文新魏";}
.pridui{margin-top: 20px;margin-bottom:10px;}
.peidui ul li a{line-height:30px;font-family:"宋体";font-size: 16px;color:#aaa;}
.peidui h2{color:#CC9933;margin-left: 10px;font-family:"华文新魏";}
.peidui a:hover{text-decoration:underline;color: #f88}
.hot a b{color:#FF0000;font-size: 16px;line-height:26px;}
.hot a:hover{text-decoration:underline;color: }
.hot a{color:#FF3333;font-size: 16px;line-height:26px;}
.n_hot a{color:#CC99CC;}
.n_hot a:hover{text-decoration:underline;}
.n{margin:10px;text-align:right;}
.biao{color:#fff;margin:10px 0;line-height:24px;font-family:"宋体";font-size: 16px;}
.biao table th{color:#330066;}
.biao{background-color:#9966CC;opacity:0.7;}
.kuang{height:40px;width:30px;margin:10px;padding:5px;border:1px solid #c9baa5;}
.kuang a{color:#9966FF;}
.nr{color:#fff;}

/*页面底部*/
.footer{width:100%;
	height:100px;
	background-color:#fff;
	text-align: center;
	line-height: 32px;
	color:#0033cc;
	opacity: 0.3;
	}